* {
    box-sizing: border-box;
}

html {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 1em;
    background-color: #232222;
}

h1 {
    background-color: whitesmoke;
    text-align: center;
    margin: .5rem;
    padding: .5em;
    border-radius: 5px;
    font-weight: 500;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.meal-container {
    background-color: whitesmoke;
    margin: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid black;
    margin-left: 50px;
    margin-right: 0;
}

@media only screen and (max-width: 400px) {
    .meal-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    img {
        margin-left: 0;
    }
}