* {
    box-sizing: border-box;
}

body {
    font-family: 'Unbounded', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f2d279;
    color: #0e1f16;
}

.list {
    max-width: 400px;
    background-color: #dedede;
    border: 2px solid #0e1f16;
    text-align: left;
    padding: 0.5em 1.5em;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 4px;
}

h1 {
    margin-bottom: 0;
    text-shadow: 1px 1px 2px #0e1f16;
    font-weight: 400;
}

.directions {
    font-weight: 600;
}