* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #782f3e;
    color: #cdcdcd;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .8);
}


.pod {
    border: 1px solid darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    margin: 1em;
    width: 95%;
    max-width: 350px;
    background-color: #295e27;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
}

.pod-image {
    width: 140px;
    height: 140px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
}


h2 {
    margin: 0;
    font-weight: 600;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
}

a:hover, a:focus {
    transform: scale(1.1);
}