* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 500px;
    margin: 0 auto;
    padding: 1em 0;
    background: #9edbb199;
    color: #b01f07;
    font-family: 'Nerko One', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px .2px darkgreen;
}

h1 {
    text-align: center;
    width: 90%;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid darkgreen;
}

.candy {
    max-width: 450px;
    width: 90%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid darkgreen;
}

p {
    font-size: 2rem;
    margin: .5rem 3rem;
}